<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <main>
        <div class="signup-form-wrapper">

            <h1>Sign Up</h1>
            <form action="/signup" method="POST">

                <div class="form-flex-row">

                    
                    <div class="form-flex-col">
                        <label for="first_name">First Name:</label>
                        <input type="text" id="first_name" name="first_name" required>
                        <label for="last_name">Last Name:</label>
                        <input type="text" id="last_name" name="last_name" required>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                        <label for="date_of_birth">Date of Birth:</label>
                        <input type="date" id="date_of_birth" name="date_of_birth" required>
                    </div>
                    
                    <div class="form-flex-col">
                        <label for="street">Street:</label>
                        <input type="text" id="street" name="street" required>
                        <label for="city">City:</label>
                        <input type="text" id="city" name="city" required>
                        <label for="state">State:</label>
                        <input type="text" id="state" name="state" required>
                        <label for="postal_code">Postal Code:</label>
                        <input type="text" id="postal_code">
                        <label for="gender">Gender:</label>
                        <select id="gender" name="gender" required>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                    <button type="submit">Sign Up</button>
            </form>
        </div>
    </main>
</body>
</html>
