body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.order {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fafafa;
}

.order h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.order p {
    margin: 5px 0;
    color: #555;
}

.order h3 {
    margin-top: 20px;
    color: #333;
}

.order ul {
    list-style-type: none;
    padding: 0;
}

.order ul li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.order ul li:last-child {
    border-bottom: none;
}

.product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}
