body {
    font-family: Arial, sans-serif;
  }
  
  main {
    padding: 5vh 2vw;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    width: 50vw;
    display: flex;
    margin: 0 auto;
    padding: 4vh 4vw;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 146, 145, 145, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#editButton {
    background-color: #4CAF50;
    color: white;
    padding: 1vh 2vw;
}

#editButton:disabled {
    background-color: #9e9e9e;
    cursor: not-allowed;
    padding: 1vh 2vw;
}

#submitButton {
    background-color: #008CBA;
    color: white;
    padding: 1vh 2vw;
}

#submitButton:disabled {
    background-color: #9e9e9e;
    cursor: not-allowed;
}

#resetButton {
    background-color: #f44336;
    color: white;
}

#resetButton:disabled {
    background-color: #9e9e9e;
    cursor: not-allowed;
}
